.video-downloader-container {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #f6f1f4;
    height: 100vh;
    position: relative;
    width: 100%; 
    z-index: 1000; 
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 20px;
    background-color: #f5f5f5;
    position: fixed; 
    top: 0;
    z-index: 1000; 
}

.header-left {
    display: flex;
    align-items: center;
}

.logo {
    height: 40px;
    margin-right: 10px;
}

.header-right {
    display: flex;
    align-items: center;
}

.about-btn {
    background-color: #3d8f2d;
    border: none;
    border-radius: 15px;
    padding: 5px 10px;
    cursor: pointer;
    margin-right: 50px; 
    margin-left: auto; 
    transition: background-color 0.3s; /* Ajoute une transition douce */
}

.about-btn:hover {
    background-color: #2b6c20; /* Changement de couleur au survol */
}

.page-title {
    font-size: 70px;
    text-align: center;
    margin: 20px 0;
}

.download-form {
    display: flex;
    justify-content: center;
    margin-top: 50px; 
}


.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e0d4d4;
    padding: 8px;
    border-radius: 10px;
    border: none;
    font-size: 2px;
}
.form-input{
    width: 300px;
}

.download-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: transform 0.3s; /* Ajoute une transition pour l'effet de clic */
    width: 50px;
}

.download-button:hover {
    transform: scale(1.1); /* Agrandissement léger au survol */
}

.separator {
    width: 100%;
    margin: 30px 0;
}

.downloaded-list-title {
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
}

.error-message {
    color: red;
    text-align: center;
}

.success-message {
    color: green;
    text-align: center;
}

.download-link {
    display: block;
    text-align: center;
    margin: 10px 0;
}
